body{
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    text-align: center;

}


.button{
    text-align: center;
    color: black;
    background-color:  yellowgreen;
    font-size: 30px;

}